@media screen and (min-width: 1024px) {
    [data-page="admin/index"]  {
        max-width: 1024px;
        margin:auto;
        border-left: solid 1px $uiGeneralContentBorder;
        border-right: solid 1px $uiGeneralContentBorder;
    }
}
