[data-page="delivery/index"] {

    & > header {
        position: relative;
        height: 8rem;
        background: $uiClickableHoverBg;
        color: $textHighlight;

        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        padding-top: 2.5rem;

        h1 {
            margin: 0;
            font-size: 2.4rem;
            flex: 1 1 auto;
            padding-left: 1rem;
        }
        .profile  {
            flex: 0 0 8rem;
            text-align: center;

            & > span {
                opacity: .9;
                color: #fff;
                font-size: 2rem;
            }
        }
        nav {
            flex: 0 0 6rem;
            text-align: center;
            a {
                color: $textHighlight;
                font-size: 2.2rem;
            }
        }
    }
}

