@import "inc/bootstrap";

.login {

    @include vendor-prefix(flex, 0 0 250px, property, (-ms-, -webkit-, ''));

    header h1 {
        text-align: center;
        margin-bottom: 40px;
        img {
            width: 200px;
        }
    }

    form {
        input, button {
            width: 250px;
            @include font-size(18);
        }

        input.hidden-submiter {
            visibility: hidden;
            position: absolute;
        }

        .options {
            display: none;
        }

        .placeholder-input {
            position: relative;
            display: block;
            padding-top: 22px;
            margin-bottom: 14px;
            label {
                opacity: 0;
                position: absolute;
                top: 8px;
                left: 0;
                color: $info;
                @include font-size(14);
                @include transition(opacity, 250ms, ease-out);
            }
            input {
                border: none;
                border-bottom: solid 2px $uiClickableHoverBg;
                padding: 6px;
                color: $textColor;
                outline: none;
            }

            input:focus ~ label,
            input:valid ~ label {
                opacity: 1;
                @include transition(opacity, 250ms, ease-out);
            }
            input:placeholder-shown ~ label {
                opacity: 0;
                @include transition(opacity, 250ms, ease-out);
            }

            &.username, &.password {
                &:before {
                    @include tao-icon-setup;
                    position: absolute;
                    left: 4px;
                    bottom: 10px;
                    @include font-size(18);
                    width: 18px;
                    text-align: center;
                    color: $uiClickableHoverBg;
                }
                input {
                    padding-left: 32px;
                }
            }
            &.username:before {
                @include icon-user;
            }
            &.password:before {
                @include icon-lock;
                @include font-size(19);
            }

            .txt-error {
                position: absolute;
                opacity : 0;
                @include font-size(16);
            }
        }

        .actions button {
            font-size: 18px !important;
            font-size: 1.8rem !important;
            line-height: 35px;
            height: 35px;
            margin-top: 28px;
        }
    }

    &.error {
         .placeholder-input {
            input {
                border-bottom-color: $errorBorderColor ;
                @include transition(border-bottom-color, 500ms, linear);
            }
            .txt-error {
                opacity : 1;
                @include transition(opacity, 500ms, linear);
            }
            &:before {
                color: $error !important;
                @include transition(color, 500ms, linear);
            }
        }
    }
}
