@charset "UTF-8";

@import "inc/bootstrap";
@import "inc/fonts";
@import "inc/base";
@import "inc/feedback";
@import "inc/buttons";
@import "inc/components";

body {
    background-color: $uiGeneralContentBg;
}

.modal.opened {
    width: auto !important;
    top : 30%;
}

@media screen and (min-width: 1024px) {
    #page {
        max-width: 1024px;
        margin:auto;
        border-left: solid 1px $uiGeneralContentBorder;
        border-right: solid 1px $uiGeneralContentBorder;
    }
}


//pages specific styles
@import "pages/login";
@import "pages/admin";
@import "pages/delivery";
